body{
    background-color:black;
font-family: "consolas", sans-serif;
}
h1{
    color:green
;
    
}
p{
    background-color:green
    color:green
    
}
h2{
    color:green
}
h3{
    color:green
    

}
p{
    color:green

}
a{
    color:purple


}
